.PasswordLengthContainer{
  display: flex;
  align-items: center;
  background-color: var(--off-white);
  border: 0.2rem solid var(--border);
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
  font-size: 1.3rem;
}

.PasswordLengthContainer:hover{
  background-color: var(--primary-color);
  color: var(--off-white);
  cursor: pointer;
}