.passwordDisplay-container{
  width: 100%;
  margin-top: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.password-output{
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 0.8rem;
  background-color: var(--light-gray);
  padding: 0.3rem 1rem;
}

.password-output > input{
  flex: 1;
  text-align: center;
  border: 0;
}

.password-output >  img{
  width: 3rem;
}

.passwordDisplay-icons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.passwordDisplay-icon{
  width: 2.3rem;
  cursor: pointer;
}

.clear-button{
  text-align: center;
  color: var(--primary-color);
  margin: 1rem 0;
  cursor: pointer;
  transition: ease 0.2s transform;
}

.clear-button:hover{
  transform: scale(1.1);
}